{% extends 'base.html' %}

{% block content %}

<h1><i>Главная страница!</i></h1>

{% include 'women/includes/nav.html' %}

<ul>
    {% for p in posts %}
        {% if p.is_published %}
            <li>
                <h2>{{ p.title }}</h2>
                <p><i>{{ p.content }}</i></p>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% include 'women/includes/nav.html' %}
{% endblock %}

