<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1><i>Главная страница!</i></h1>

<ul>
    <li> <a href = "{% url 'home' %}"> Главная страница</a> </li>
    <li> <a href = "{% url 'about' %}"> О сайте</a> </li>
    <li> <a href = "{% url 'addpage' %}"> Добавить статью</a> </li>
    <li> <a href = "{% url 'help' %}"> Обратная связь</a> </li>
    <li> <a href = "{% url 'login' %}"> Войти</a> </li>
    <li> <a href = "{% url 'contact' %}"> Контакты</a> </li>


</ul>
{% block content %}  {% endblock %}



</body>
</html>